<html>

    <head>
        <title> {% block title %} {% endblock %} </title>
    </head>

    <body>
        <nav>
            <ul>
                <li>
                    <a href='{{url_for("home")}}'>Home</a>
                </li>
                <li>
                    <a href='{{ url_for("login") }}'>Login</a>
                </li>
            </ul>
        </nav>

        {% block content %}
        
        {% endblock %}

    </body>
    <div>
        <footer>This is a test Footer follow us at @lyfofvipin</footer>
    </div>
</html>
