{% extends 'base.html' %}

{% block title %}Details | Movie App{% endblock %}

{% block content %}

<div class="container mt-4">
    
    <div class="card mb-3 shadow-sm">
        <div class="card-body">
            
            <h3 class="card-title">
                {{ x.name }}
            </h3>

            <p class="card-text">
                {{ x.description }}
            </p>

            <h3 class="card-title">
                {{ x.rating }}
            </h3>

            <h3 class="card-title">
                {{ x.duration }}
            </h3>
        </div>
    </div>
</div>

{% endblock %}