<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>My Blog | {{title}} </title>
    {% else %}
        <title>My Blog </title>
    {% endif %}
</head>
<body>
    <form action="{{ url_for('validate_data') }}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>

        <div class="form-group">
            <label for="username">username</label>
            <input class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter Username">
        </div>
        
        <div class="form-group">
            <label for="mail">Email address</label>
            <input type="email" class="form-control" id="mail" name="mail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>